<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Issues Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-table.min.css">
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-table.min.js"></script>
  <script src="js/bootstrap-table-filter-control.min.js"></script>
</head>
<body>


<div id="heading" class="container-fluid text-white" style="background-color: #292961">
  <h2><img style="height: 58px" src="assets/gitlab-logo-white-rgb.svg"/>Customer Issues Report</h2>
</div>

%for cust in report.values():
<div class="container-fluid my-3">
  <h3><a href="${gitlab + cust["customer_cs_project"]}">${cust["customer_id"]}</a>
    <button type="button" class="btn btn-secondary float-right" data-toggle="collapse" data-target=${"#" + cust["customer_id"]}>Show/Hide</button>

    <a class="btn btn-primary float-right mx-2" href="${cust["customer_id"]}_${cust["customer_cs_project"].replace("/","_")}_${cust["cs_issues_issue_id"]}.csv" download="${cust["customer_id"]}_${cust["customer_cs_project"].replace("/","_")}_${cust["cs_issues_issue_id"]}.csv">Download CSV</a>
  </h3>
</div>

<div class="container-fluid">
  <div id=${cust["customer_id"]} class="collapse show">
    <span><a href="${cust["link"]}">${cust["link"]}</a></span>
    <table class="table-hover table-striped" data-toggle="table" data-filter-control="true" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true" scope="col" style="width: 24px"></th>
          <th scope="col" data-filter-control="input">issue</th>
          <th data-sortable="true" data-filter-control="select" scope="col" style="width: 10%">state</th>
          <th data-sortable="true" data-filter-control="select" scope="col" style="width: 10%">milestone</th>
          <th scope="col" data-filter-control="input" style="width: 30%">labels</th>
        </tr>
      </thead>
      <tbody>
%for issue in cust["issues"].values():
<%
label_bootstrap = ""
for label in issue["labels"]:
    badgetype = "badge-secondary"
    for color in label_colors:
        if color in label:
            badgetype = label_colors[color]
    label_title = ""
    if "added_labels" in issue:
        if label in issue["added_labels"]:
            label = label + "(+)"
            label_title = "added"
    if "removed_labels" in issue:
        if label in issue["removed_labels"]:
            label = label + "(-)"
            label_title = "removed"
    label_bootstrap += "<span class='badge badge-pill %s' title='%s'>%s</span>" % (badgetype, label_title, label)

issuestate_icon = ""
state_cell_class = ""
if "recently_added" in issue:
    if issue["recently_added"]:
        issuestate_icon = '<img src="assets/post_add-24px.svg" alt="added since last report" title="added since last report"/>'
        state_cell_class = 'class="table-info"'

state_state_class = ""
if issue["state_updated"]:
    state_state_class = 'class="table-info"'

milestone_class = ""
if issue["milestone_updated"]:
    milestone_class = 'class="table-info"'

title_class = ""
if issue["title_updated"]:
    title_class = 'class="table-info"'

label_class = ""
if issue["added_labels"] or issue["removed_labels"]:
    label_class = 'class="table-info"'

if issue["issue_updated"] or issue["title_updated"] or issue["milestone_updated"] or issue["state_updated"] or issue["added_labels"] or issue["removed_labels"]:
    issuestate_icon = '<img src="assets/new_releases-24px.svg" alt="changed since last report" title="changed since last report"/>'
    state_cell_class = 'class="table-info"'
%>
        <tr>
          <td ${state_cell_class} style="width: 24px">${issuestate_icon}</td>
          <td ${title_class}><a href=${issue["url"]}> ${issue["title"]} </a></td>
          <td ${state_state_class}>${issue["state"]}</td>
          <td ${milestone_class}> ${issue["milestone"]}</td>
          <td ${label_class}>
            ${label_bootstrap}
          </td>
        </tr>
%endfor
      </tbody>
    </table>
  </div>
</div>
%endfor
</body>
</html>

